:root {
    font-size: 12px;
}

.mainWrapper,
.controlsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#victory p {
    font-size: 1.5rem;
    color:brown;
    margin: 0.2rem;
}

.selected {
    background-color: aquamarine;
}

.topControls,
.bottomControls {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

button  {
    width: 10rem;
    border-radius: 10px;
}


.gameBoardArea {
    height: 640px;
    width: 640px;
    border: solid;

    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.oneTile {
    border: solid;
    border-width: 2px;
    font-size: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}